@charset "utf-8";

html{
  font-size:100%;
}
body{
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height:1.7;
}
a{
  text-decoration:none;
  color:#0073dd;
}
.brown a{
  text-decoration:none;
  color:#432;
}
a:hover{
  color:#0bd;
}
img{
  max-width:100%;
}
.wrapper{
  max-width:1100px;
  margin:0 auto;
  padding:0 4%;
}
.content-info{
  display:flex;
}
.content-info img{
  width:45px;
  height:45px;
  margin-right:10px;
}
.content-title{
  font-size:2rem;
}

/*header*/
.page-header{
  display:flex;
  justify-content:space-between;
}
.logo{
  width:400px;
  min-width:400px;
}
.main-nav{
  display:flex;
  font-size:1.25rem;
  list-style:none;
  margin-top:45px;
}
.main-nav li{
  margin-right:20px;
  margin-left:20px;
}
#home .content{
  font-size:2.7rem;
  font-weight:lighter;
  color:#ff5c00;
  text-align:center;
  padding-top:20%;
  padding-bottom:10%;
}

.no-webp .big-bg{
  background-image:url(../images/cats.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center top;
    max-width:1100px;
    margin:0 auto;
}
.webp .big-bg{
  background-image:url(../images/cats.png.webp);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center top;
    max-width:1100px;
    margin:0 auto;
}

/*greet*/
#greet{
  margin-top:50px;
  text-align:justify;
}
#greet p{
  margin-top:5px;
  margin-left:60px;
  margin-right:70px;
  font-size:1.125rem;
  line-height:1.7;
}

/*act*/
#act{
  margin-top:60px;
  text-align:justify;
}
#act p{
  margin-top:5px;
  margin-left:60px;
  margin-right:70px;
  font-size:1.125rem;
  line-height:1.7;
}
#act .grid{
  display:grid;
  grid-template-columns:repeat(2, minmax(360px,1fr));
  gap:10px;
  width:800px;
  max-width:1100px;
  margin:0 auto;
  padding:0 4%;
}
#act .grid h2{
  font-size:2.5rem;
  font-weight:lighter;
  text-align:center;
}
#act .grid h3{
  font-size:1.25rem;
  font-weight:lighter;
  text-align:center;
}
#act .trap img{
  object-fit:cover;
  width:100%;
  padding-top:10%;
  padding-left:13%;
}
#act .neuter img{
  object-fit:cover;
  width:90%;
  padding-top:8%;
  padding-left:18%;
}
#act .vaccinate img{
  object-fit:cover;
  width:70%;
  padding-top:9%;
  padding-left:22%;
}
#act .return img{
  object-fit:cover;
  width:75%;
  padding-top:3%;
  padding-left:20%;
}
#act .wiki{
  text-align:right;
}

/*news*/
#news{
  margin-top:50px;
  text-align:justify;
}
.news-list{
  list-style:none;
  margin-top:5px;
  margin-left:60px;
  margin-right:70px;
  padding-left:20px;
  padding-top:10px;
  padding-right:30px;
  padding-bottom:10px;
  font-size:1.4rem;
  border-style:solid;
  border-width:1px;
  border-color:#7acbe1;
}
.news-list li{
  border-style:solid;
  border-width:1px 0 1px;
  border-color:#7acbe1;
}
.timewhat{
  display: flex;
}
.news-log{
  text-align:right;
  margin-right:70px;
  font-size:1.125rem;
}

/*external*/
#schedule{
  margin-top:70px;
  text-align:justify;
}
#schedule p{
    margin-top:5px;
    margin-left:60px;
    font-size:1.125rem;
    line-height:1.7;
}
#schedule iframe{
  margin-top:5px;
  margin-left:60px;
}

/*contact*/
#contact{
  margin-top:50px;
  padding-top:40px;
  padding-bottom:5px;
  text-align:justify;
  background-color:#7acbe1;
}
#contact .icon{
  width:50px;
}
#contact div{
  margin-left:60px;
  margin-bottom:40px;
}
#contact .liphone,
.liline,
.limail{
  display:flex;
  list-style:none;
  font-size:1.7rem;
  margin-left:40px;
}
#contact .liphone li,
.liline li,
.limail li{
  padding-right:20px;
}
#contact .documents{
  list-style:none;
  font-size:1.125rem;
}
#contact p{
  font-size:1.125rem;
  line-height:1.7;
}
#contact .bottom{
  margin-bottom:15px;
}

/*access*/
#access{
  margin-top:40px;
  text-align:justify;
}
#access p{
  margin-top:5px;
  margin-left:60px;
  font-size:1.125rem;
}
#access .gmap{
  margin-top:8px;
  margin-left:50px;
}
#access .guid img{
  margin-top:10px;
  height:600px;
}

/*footer*/
#foot{
  margin-top:60px;
  text-align:justify;
}
#foot .wrapper{
  padding-top:40px;
  display:flex;
  background-color:#7acbe1;
}
#foot .foot-box{
  width:35%;
  margin:0 2%;
}
#foot .copyright{
  max-width:1100px;
  margin:0 auto;
  padding:10px 4% 0;
  text-align:center;
  background-color:#7acbe1;
}



/*document.html*/
#document #list ul{
  font-size:1.125rem;
  list-style:none;
  margin-top:15px;
  margin-left:50px;
  margin-bottom:80px;
}
#document .page-header{
  border-bottom:5px solid #7abce1;
}
#list{
  margin-top:20px;
}



/*Training.html*/
#training dl{
  font-size:1.125rem;
  margin-top:15px;
  margin-left:30px;
  margin-bottom:80px;
}
#training dt{
  float:left;
  width:130px;
}
#training dd{
}
#training ul{
  list-style:none;
}
#training li{
  margin-left:150px;
}


/*------------------------------------------------*/


@media(max-width:600px){
  .content-info img{
    width:30px;
    height:30px;
    margin-right:10px;
  }
  .content-title{
    font-size:1rem;
  }

  #home .page-header{
    flex-direction:column;
    align-items:center;
  }
  #home img{
    width:300px;
    min-width:100px;
  }
  #home .main-nav{
    font-size:1rem;
    margin-top:0px;
  }
  #home .main-nav li{
    margin:0 15px;
  }
  #home .content{
    font-size:1.6rem;
    font-weight:normal;
    color:#ff8200;
    padding-top:22%;
  }

  #greet{
    margin-top:25px;
  }
  #greet p{
    margin-top:3px;
    margin-left:25px;
    margin-right:30px;
    font-size:0.875rem;
  }

  #act{
    margin-top:30px;
  }
  #act p{
    margin-top:3px;
    margin-left:25px;
    margin-right:30px;
    font-size:0.875rem;
  }
  #act .grid{
    grid-template-columns:repeat(1, minmax(360px,360px));
    width:370px;
    margin-right:5px;
  }
  #act .grid h2{
    font-size:1.7rem;
    text-align:left;
    margin-left:25px;
  }
  #act .grid h3{
    font-size:1rem;
    font-weight:normal;
    text-align:left;
    margin-left:50px;
  }
  #act .trap img{
    width:90%;
    padding-top:5%;
  }
  #act .neuter img{
    width:80%;
    padding-top:5%;
  }
  #act .vaccinate img{
    width:70%;
    padding-top:5%;
    padding-left:30%;
  }
  #act .return img{
    width:70%;
    padding-top:0%;
  }

  #news{
    margin-top:30px;
  }
  .news-list{
    margin-left:25px;
    margin-right:25px;
    padding-left:15px;
    padding-right:15px;
    font-size:0.875rem;
  }
  .news-log{
    margin-right:25px;
    font-size:0.875rem;
  }

  #schedule{
    margin-top:30px;
  }
  #schedule p{
    margin-top:3px;
    margin-left:25px;
    margin-right:30px;
    font-size:0.875rem;
  }
  #schedule iframe{
    margin-left:5px;
    width:340px;
    height:300px;
  }

  #contact{
    padding-top:30px;
  }
  #contact .icon{
    width:35px;
  }
  #contact div{
    margin-left:25px;
    margin-right:30px;
    margin-bottom:25px;
  }
  #contact .liphone,
  .liline,
  .limail{
    font-size:0.875rem;
    margin-left:0px;
  }
  #contact .liphone li,
  .liline li,
  .limail li{
    padding-right:10px;
  }
  #contact .documents{
    font-size:0.875rem;
  }
  #contact p{
    font-size:0.875rem;
  }
  #contact .bottom{
    margin-bottom:5px;
  }

  #access{
    margin-top:45px;
  }
  #access p{
    margin-top:3px;
    margin-left:19px;
    margin-right:15px;
    font-size:0.875rem;
  }
  #access .gmap{
    margin-left:5px;
  }
  #access iframe{
    width:340px;
    height:300px;
  }
  #access .guid img{
    height:230px;
  }

  #foot{
    margin-top:50px;
    font-size:0.875rem;
  }
  #foot .wrapper{
    padding-top:30px;
    flex-direction:column;
  }
  #foot .foot-box{
    width:95%;
  }


  #document .page-header{
    flex-direction:column;
    align-items:center;
  }
  #document .page-header img{
    width:300px;
    min-width:100px;
  }
  #document .main-nav{
    font-size:1rem;
    margin-top:0px;
  }
  #document #list ul{
    margin-top:3px;
    margin-left:20px;
    margin-right:30px;
    margin-bottom:75px;
    font-size:0.875rem;
  }
  #list{
    margin-top:30px;
  }
}
